@import './utils';
@import './color.scss';
#__next {
    height: 100%;
}
.main-color {
    color: $mainColor;
}

.highlight-color {
    color: $specialColor !important;
}

.footer {
    background-color: black;
    min-height: 15.9rem;
    a {
        &:hover,
        &:focus {
            color: $specialColor;
        }
    }
    .footer-frame {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include for-except-xs {
            flex-direction: row;
        }
        .left-item {
            display: flex;
            flex-direction: column;
            @include for-except-xs {
                flex-direction: row;
            }

            dl {
                width: 14rem;
                margin-top: 1rem;
                @include for-except-xs {
                    margin: 2.5rem 0;
                }
            }
            dt {
                color: #7f7f7f;
                font-size: 1.1rem;
                font-weight: normal;
                margin-bottom: 1.2rem;
            }
            dd {
                color: white;
                font-size: 1rem;
                margin-bottom: 0;
                font-weight: 400;
            }
        }
        .right-item {
            color: white;
            font-size: 0.8rem;
            text-align: right;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            @include for-except-xs {
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
            }
            .app-frame {
                flex-basis: 15rem;
                text-align: center;
                margin-bottom: 2rem;
                @include for-except-xs {
                    flex-basis: auto;
                    text-align: unset;
                    margin-bottom: 0;
                }
            }
        }
        .app-img {
            width: 11rem;
            display: inline-block;
            &.margin-bottom {
                margin-bottom: 0.5rem;
            }
        }
    }

    .footer-bottom {
        display: flex;
        background-color: white;
        min-height: 3rem;

        @include for-except-xs {
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        .logo {
            margin-left: 0;
            width: 30rem;
            height: auto;

            @include for-except-xs {
                margin-left: 1rem;
                width: 15rem;
                height: auto;
            }
        }
        .info,
        .info > p {
            text-align: left;
            margin: 1rem;
            @include for-except-xs {
                margin: 0;
                margin-right: 1rem;
                text-align: right;
            }
            font-size: 1rem;
            color: #333333;
        }
    }
}

.myModal {
    &.close {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
    }
}

.member-frame {
    display: flex;
    font-weight: 400;
    flex-direction: column;
    @include for-except-xs {
        flex-direction: row;
    }
    .frame-left {
        margin-left: 0rem;
        @include for-except-xs {
            margin-left: 10rem;
        }
        flex-basis: 22rem;
        .li {
            a {
                color: #333333;
            }
            cursor: pointer;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            color: #333333;
            border-bottom: 1px solid rgb(237, 237, 237);
            font-weight: 400;
            &.active {
                color: $mainColor;
                a {
                    color: $mainColor;
                    font-weight: 600;
                }
            }
        }
    }
    .frame-right {
        flex: 1;
        margin: 0;
        @include for-except-xs {
            margin: 0 5rem;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        .member-from {
            max-width: 40rem;
            margin-bottom: 5rem;
            label {
                font-weight: 400;
            }
            .form-footer {
                justify-content: center;
                padding-top: 5rem;
                .btn {
                    width: 2rem;
                }
            }
        }
    }
}

.text-center {
    text-align: center;
}

.intro-slide .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .video {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    .textFrame {
        position: relative;
        text-align: center;
    }
}

.no-padding {
    padding: 0;
}
.product {
    .product-last-price {
        padding-right: 1rem;
        text-decoration-line: line-through;
        color: $mainColor;
    }
}

.product-media {
    margin: 0 0.5rem;
}

.product-body {
    background-color: transparent;
}

.menu-title {
    cursor: pointer;
}

.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pro-sidebar {
    background-color: #fff;
}

.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
    background-color: #fff;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
    background-color: #fff;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
    padding: 0;
    padding-right: 15px;
}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
    border: unset;
    width: 0;
    height: 0;
    min-width: 0;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
    padding: 0px 35px 0px 0px;

    .pro-item-content {
        color: #777;
        font-weight: 400;
        font-size: 1.6rem;
        .item-count {
            height: 2rem;
            font-weight: 300;
            font-size: 1.3rem;
            line-height: 10px;
            border-radius: 0.6rem;
            color: #777;
            padding: 5px 8px;
            background-color: #f8f8f8;
        }
    }
}
.pro-sidebar .pro-menu {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
    padding-left: 0px;
}

.pro-arrow {
    display: inline-block;
    border-style: solid;
    border-color: #adadad;
    border-width: 0 2px 2px 0;
    padding: 2.5px;
    vertical-align: middle;
    transition: transform 0.3s;
    transform: rotate(-45deg);
}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item .pro-arrow-wrapper {
    display: unset;
}

.pro-sidebar .sub-menu .pro-menu-item > .pro-inner-item .pro-item-content {
    font-size: 1.4rem;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
    margin-right: 5px;
}

.custom-header {
    position: relative;
    .megamenu {
        width: 100vw;
    }

    .sub-container {
        display: flex;
        justify-content: center;
    }
}
.recommend {
    .banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        display: flex;
        &:hover {
            opacity: 1;
        }
        opacity: 0.8;

        &.banner-1 {
            width: 100%;
            height: 500px;
            @include for-l {
                width: 574px;
            }
        }
        &.banner-2 {
            width: 100%;
            height: 240px;
            @include for-l {
                width: 574px;
            }
        }

        &.banner-3 {
            width: 100%;
            height: 240px;
            @include for-l {
                width: 574px;
            }
        }

        &.banner-4 {
            height: 240px;
        }
    }
}

.breeze-daily {
    .banner {
        width: 100%;
        .banner-title {
            padding: 1rem;
        }
    }
    .dailyType1 {
        &:hover {
            opacity: 1;
        }
        opacity: 0.8;
        display: flex;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    .dailyType2 {
        &:hover {
            opacity: 1;
        }
        opacity: 0.8;
        display: flex;
        height: 240px;
        background-repeat: no-repeat;
        background-size: initial;
        background-position: 50% 50%;
    }
}

.product-list {
    .product-item-img {
        width: 100%;
        height: 237px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        @include for-md {
            height: 13rem;
        }
        @include for-xxs {
            height: 10rem;
        }
    }
}

.custom-btn {
    display: block;
    border: 1px solid $mainColor;
    padding: 10px;
    width: 80%;
    background-color: #fff;
    color: $mainColor;
    &:hover {
        background-color: $mainColor;
        color: #fff;
    }
    @include for-except-xs {
        display: none;
    }
}
.toolbox-right {
    flex: 1;
}

.filter-section {
    display: block;
    @include for-except-xs {
        display: none;
    }
    &.filter-top {
        @include for-except-xs {
            display: none;
        }
        display: flex;
        justify-content: space-between;
        font-weight: 900;
        padding: 10px 20px 10px;
        border-bottom: 1px solid #ddd;
    }
    .pro-sidebar {
        background-color: #fff;
        width: 100vw;
        min-width: 100vw;
    }
    .pro-sidebar.md {
        position: fixed;
        left: -100vw;
    }
    .pro-sidebar .overlay {
        background-color: #fff;
    }
    .pro-sidebar.md.toggled {
        left: 0;
    }
    .pro-sidebar > .pro-sidebar-inner .pro-sidebar-content {
        margin: 20px;
    }
}

.filter-section-pc {
    display: none;
    @include for-except-xs {
        display: block;
    }
}

.pc-flex {
    display: none;
    @include for-except-xs {
        display: block;
    }
}

.intro-slide .intro-content {
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
}

.sidebar-filter-clear {
    color: $mainColor !important;
    cursor: pointer;
}

.widget-clean {
    display: none;
    @include for-except-xs {
        display: flex;
    }
}
.phone-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .phoneCode {
        flex-basis: 10rem;
        margin-right: 15px;
        .form-control {
            padding: 0;
        }
    }
    .phone {
        flex: 1;
    }
}

.login-form {
    .desc {
        text-align: center;
    }
    .label {
        height: 0rem;
    }
}

.form-tab .form-footer {
    border-bottom: none;
}

.form-footer {
    flex-direction: column;
    text-align: center;
    .margin-top-more {
        margin-top: 7rem !important;
    }
    .btn {
        margin-right: 0;
        margin-bottom: 1.5rem !important;
    }
    .btn-outline-primary-2 {
        margin-top: 25px;
    }
    .custom-control {
        margin-bottom: 1rem;
    }

    .forgot-link {
        margin-top: 10px;
        margin-left: unset;
    }
}

@media screen and (min-width: 768px) {
    .form-tab .form-footer .btn {
        margin-left: 0;
        margin-right: 0;
    }
}

.form-box {
    @include for-except-xs {
        min-width: 575px;
    }
}

.errorAlert {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.product-details .product-subtitle {
    font-size: 2rem;
}

.product-details {
    .product-number-frame {
        display: flex;
        .product-last-price {
            color: #666666;
            font-size: 2.4rem;
            text-decoration-line: line-through;
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
        }
    }

    .product-id {
        font-size: 1rem;
    }
}

.product-main-image {
    [data-rmiz-wrap='visible'],
    [data-rmiz-wrap='hidden'] {
        display: inherit;
    }
}

.topBannerArrow {
    &.left {
        left: 20px;
    }
    &.right {
        right: 20px;
    }
    z-index: 1;
    width: 3rem;
    &:before {
        content: '';
    }
}

.table.table-summary .summary-new td {
    padding-bottom: 0;
    height: auto;
    border-bottom: none;
    color: #333;
    font-weight: 400;
    font-size: 1.6rem;
}

.checkout {
    .center {
        display: flex;
        justify-content: center;
    }
}

.checkout-custom-btn {
    position: relative;
    .btn {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 2.1rem;
    }
}
.accordion-summary {
    .card-body {
        .input {
            width: 100%;
        }
        .card-section-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            .item {
                margin-left: 4px;
            }
            label {
                margin-bottom: 0;
            }
            img {
                width: 2rem;
                height: 1.2rem;
            }
        }
        .card-section-2 {
            margin-top: 5px;
            display: flex;
            .item {
                flex: 1;
            }
            .credit-expires {
                margin-right: 10px;
            }
        }
    }

    .card-select {
        display: flex;
        align-items: center;
        .card-icon {
            margin-top: 0;
            width: 2rem;
            height: 1.2rem;
            margin-right: 4px;
        }
    }
}

.buyNotice {
    max-height: 75vh;
    overflow-y: scroll;
    padding: 30px;
    max-width: 80vw;
}

.password-from {
    display: flex;
    justify-content: center;

    form {
        flex-basis: 27rem;

        .btn {
            width: 1rem;
        }

        margin-bottom: 5rem;
    }
}
.point-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;
    .title {
        font-weight: 400;
    }
    .tips {
        margin-top: 4rem;
        font-weight: 400;
        font-size: 1.5rem;
        span {
            font-size: 2rem;
        }
    }
    .points {
        font-size: 3.5rem;
        font-weight: 400;
        b {
            font-size: 2.5rem;
        }
    }
}

.order-frame {
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
    .card-title a {
        background-color: #fafafa !important;
    }
    a {
        color: #828282;
        font-weight: 400;
        font-size: 1.2rem;
        .listItem {
            margin: 1rem 0;
        }
    }
    .card-body {
        border-top: 0.15rem solid rgba(0, 0, 0, 0.125);
        background-color: #fafafa !important;
        font-weight: 400;
        font-size: 1.2rem;
        .listItem {
            margin: 0rem 0;
        }
        .table th {
            font-size: 1.2rem;
        }
        .table td {
            padding-top: 2rem;
            padding-bottom: 2rem;
            border-bottom: 0;
        }
    }
}

.mobile-menu {
    display: block;
    @include for-except-xs {
        display: none;
    }
    &.zindexHigh {
        .pro-sidebar {
            z-index: 112;
        }
        .pro-sidebar-header {
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
        }
        li {
            a {
                color: #333333;
                padding: 0;
                border-bottom: 0;
            }
        }
        .card-title {
            font-size: 1.3rem;
            line-height: 1rem;
            .no-arrow {
                font-size: 1.5rem;
                color: #333333;
                a {
                    &:before {
                        content: '';
                    }
                }
            }
            a {
                font-size: 1.5rem;
                color: #333333;
            }
        }
    }
    font-weight: 500;
    .pro-sidebar-inner {
        background-color: #fff;
    }

    .header {
        color: #333333;
        text-align: center;
    }
    .menu-li {
        color: #333333;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1.5rem;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        margin-bottom: -1px;
    }
    .pro-sidebar-footer {
        padding: 0 2rem;
        height: 130px !important;
        line-height: 60px !important;
        .btn {
            display: block;
        }
    }
}

.wishlist-link {
    i {
        &:hover {
            color: $mainColor;
        }
    }
}

.tabpay-input {
    width: 100%;
    border: 1px solid #9c9c9c;
    background-color: #fff;
    border-radius: 3px;
    height: 30px;
    padding: 0 10px;
    font-size: 1rem;
    line-height: 42px;
}

.barcode-label {
    display: flex;
    justify-content: space-between;
    span {
        color: green;
    }
}

.result-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 0;
    .icon {
        width: 15rem;
        height: auto;
    }
    .main-word {
        padding-top: 2rem;
    }
    .btn-frame {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        .btn {
            margin: 0 1rem;
        }
    }
}

.about {
    img {
        margin-bottom: 3rem;
        width: 100%;
        height: auto;
    }
}

.details-filter-row .product-nav-thumbs {
    .active {
        padding: 0.5rem;
        border-color: $mainColor;
        border-width: 1px;
        background-color: $mainColor;
        color: #fff;
    }
}

.refund {
    width: 100%;
    height: 80vh;
    overflow: auto;
    padding: 3rem;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box {
    .tab-content {
        height: 75vh;
        overflow: auto;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.submit_hide {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 0;
    border: 0;
    border-width: 0;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

#google-container {
    .gpay-button.long {
        width: 100%;
    }
}
