@import './utils';
@import './color.scss';
.footer {
    background-color: black;
    min-height: 15.9rem;
    .footer-frame {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include for-except-xs {
            flex-direction: row;
        }
        .left-item {
            display: flex;
            flex-direction: column;
            @include for-except-xs {
                flex-direction: row;
            }

            dl {
                width: 14rem;
                margin-top: 1rem;
                @include for-except-xs {
                    margin: 2.5rem 0;
                }
            }
            dt {
                color: #7f7f7f;
                font-size: 1.1rem;
                font-weight: normal;
                margin-bottom: 1.2rem;
            }
            dd {
                color: white;
                font-size: 1rem;
                margin-bottom: 0;
                font-weight: 400;
            }
        }
        .right-item {
            color: white;
            font-size: 0.8rem;
            text-align: right;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            @include for-except-xs {
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
            }
            .app-frame {
                flex-basis: 15rem;
                text-align: center;
                margin-bottom: 2rem;
                @include for-except-xs {
                    flex-basis: auto;
                    text-align: unset;
                    margin-bottom: 0;
                }
            }
        }
        .app-img {
            width: 11rem;
            display: inline-block;
            &.margin-bottom {
                margin-bottom: 0.5rem;
            }
        }
    }

    .footer-bottom {
        display: flex;
        background-color: white;
        min-height: 3rem;

        @include for-except-xs {
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        .logo {
            margin-left: 0;
            width: 30rem;
            height: auto;

            @include for-except-xs {
                margin-left: 1rem;
                width: 15rem;
                height: auto;
            }
        }
        .info,
        .info > p {
            text-align: left;
            margin: 1rem;
            @include for-except-xs {
                margin: 0;
                margin-right: 1rem;
                text-align: right;
            }
            font-size: 1rem;
            color: #333333;
        }
    }
}

.myModal {
    &.close {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
    }
}

.member-frame {
    display: flex;
    font-weight: 400;
    .frame-left {
        margin-left: 10rem;
        flex-basis: 22rem;
        .li {
            cursor: pointer;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            color: #333333;
            border-bottom: 1px solid rgb(237, 237, 237);
            font-weight: 400;
            &.active {
                color: $mainColor;
            }
        }
    }
    .frame-right {
        flex: auto;
        margin: 0 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .member-from {
            max-width: 30rem;
            margin-bottom: 5rem;
            label {
                font-weight: 400;
            }
            .form-footer {
                justify-content: center;
                padding-top: 5rem;
            }
        }
    }
}

.text-center {
    text-align: center;
}

.intro-slide .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    .textFrame {
        position: relative;
        text-align: center;
    }
}

.no-padding {
    padding: 0;
}

.product-media {
    margin: 0 2rem;
}

.product-body {
    background-color: transparent;
}

.menu-title {
    cursor: pointer;
}

.filter-item {
    display: flex;
    justify-content: space-between;
}

.pro-sidebar {
    background-color: #fff;
}

.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
    background-color: #fff;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
    background-color: #fff;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
    padding: 0;
    padding-right: 15px;
}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
    border: unset;
    width: 0;
    height: 0;
    min-width: 0;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
    padding: 0px 35px 0px 0px;

    .pro-item-content {
        color: #777;
        font-weight: 400;
        font-size: 1.6rem;
        .item-count {
            height: 2rem;
            font-weight: 300;
            font-size: 1.3rem;
            line-height: 10px;
            border-radius: 0.6rem;
            color: #777;
            padding: 5px 8px;
            background-color: #f8f8f8;
        }
    }
}
.pro-sidebar .pro-menu {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
    padding-left: 0px;
}

.pro-arrow {
    display: inline-block;
    border-style: solid;
    border-color: #adadad;
    border-width: 0 2px 2px 0;
    padding: 2.5px;
    vertical-align: middle;
    transition: transform 0.3s;
    transform: rotate(-45deg);
}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item .pro-arrow-wrapper {
    display: unset;
}

.pro-sidebar .sub-menu .pro-menu-item > .pro-inner-item .pro-item-content {
    font-size: 1.4rem;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
    margin-right: 5px;
}

.custom-header {
    position: relative;
    .megamenu {
        width: 100vw;
    }

    .sub-container {
        display: flex;
        justify-content: center;
    }
}
.recommend {
    .banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        display: flex;
        &:hover {
            opacity: 1;
        }
        opacity: 0.8;

        &.banner-1 {
            width: 574px;
            height: 500px;
        }
        &.banner-2 {
            width: 574px;
            height: 240px;
        }

        &.banner-3 {
            width: 574px;
            height: 240px;
        }

        &.banner-4 {
            height: 240px;
        }
    }
}

.breeze-daily {
    .banner {
        width: 100%;
    }
    .dailyType1 {
        &:hover {
            opacity: 1;
        }
        opacity: 0.8;
        display: flex;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    .dailyType2 {
        &:hover {
            opacity: 1;
        }
        opacity: 0.8;
        display: flex;
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
}

.product-list {
    .product-item-img {
        width: 237px;
        height: 237px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
}

.custom-btn {
    display: block;
    border: 1px solid $mainColor;
    padding: 10px 150px;
    background-color: #fff;
    color: $mainColor;
    &:hover {
        background-color: $mainColor;
        color: #fff;
    }
    @include for-except-xs {
        display: none;
    }
}

.filter-section {
    display: block;
    @include for-except-xs {
        display: none;
    }
    &.filter-top {
        @include for-except-xs {
            display: none;
        }
        display: flex;
        justify-content: space-between;
        font-weight: 900;
        padding: 10px 20px 10px;
        border-bottom: 1px solid #ddd;
    }
    .pro-sidebar {
        background-color: #fff;
        width: 100vw;
        min-width: 100vw;
    }
    .pro-sidebar.md {
        position: fixed;
        left: -100vw;
    }
    .pro-sidebar .overlay {
        background-color: #fff;
    }
    .pro-sidebar.md.toggled {
        left: 0;
    }
    .pro-sidebar > .pro-sidebar-inner .pro-sidebar-content {
        margin: 20px;
    }
}

.filter-section-pc {
    display: none;
    @include for-except-xs {
        display: block;
    }
}

.pc-flex {
    display: none;
    @include for-except-xs {
        display: block;
    }
}

.intro-slide .intro-content {
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
}

.sidebar-filter-clear {
    color: $mainColor !important;
    cursor: pointer;
}

.widget-clean {
    display: none;
    @include for-except-xs {
        display: flex;
    }
}

.login-form {
    .desc {
        text-align: center;
    }
    .phone-frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        .phoneCode {
            flex-basis: 10rem;
            margin-right: 15px;
            .form-control {
                padding: 0;
            }
        }
        .phone {
            flex: 1;
        }
    }
    .label {
        height: 0rem;
    }
    .form-footer {
        flex-direction: column;
        text-align: center;
        .btn {
            margin-right: 0;
        }
        .btn-outline-primary-2 {
            margin-top: 25px;
        }
        .custom-control {
            margin-bottom: 1rem;
        }

        .forgot-link {
            margin-top: 10px;
            margin-left: unset;
        }
    }
}

.form-box {
    @include for-except-xs {
        min-width: 575px;
    }
}

.errorAlert {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}